body{
    margin: 0;
    box-sizing: border-box;
}
hr{
    border-top: 1px dashed white;
    width: 166px;
    margin: 0;
}
marquee{
    width: 100%;
}
.main-header{
    /* box-sizing: border-box; */
    background-color:white;
    float: right;
    width: 100%;
    height: 7.3rem;
    position: fixed;
    z-index: 2;
    vertical-align: middle;
    padding: 0 120px 20px;
    
}
.main-header .brand-container{
    
    display: inline-block;
    vertical-align: middle;
    /* padding-left: 100px; */
}
.brand-container img{
    height: 6rem;
    width: 9.3rem;
    margin-top: 15px;
}
.navbar{
    float: right;
    display: flex;
    padding: 0 126px 0 0;
    justify-content: center;
}
.navbar-list__items{
    
    
    float:left;
    position: relative;
    display: flex;
    list-style: none;
    padding-left: 0;
    padding-right: 60px;
    /* align-items: center; */
}
.navbar-list__items .navbar-list__item-container{
    display: inline-block;
    height: 15px;
}
.navbar-list__item-container .navbar-list__item{
    font-family: Lato;
    font-size: 16px;
    font-weight: 900;
    color: #363a47;
    display: inline-block;
    margin-right: 0.8rem;
    position: relative;
    top: 45px;
    vertical-align: middle;
}


.navbar-list__item__login-register button{
    width: 130px;
    height: 40px;
    background-color: white;
    border: 1px solid #021631;
    padding: 14px 14px 15px 13px;
    margin: 30px 11px 29px;
}

.navbar-list__item__login-register button>a{
    text-decoration: none;
    color: navy;
    font-family: Roboto;
    font-size: 0.8rem;
    
}

.navbar-list__item__news-letter a{
    text-decoration: none;
    width: 166px;
    height: 40px;
    margin: 22px 6px 29px 11px;
    padding: 14px 19px 12px 18px;
    position: relative;
    top: 40px;
    background-color: navy;
    color: white;
    font-family: Roboto;
    font-size: 0.8rem;
}

.navbar-list__item__social-media button{
    display: inline-block;
    width: 37px;
    height: 40px;
    margin: 28px 5px 29px 6px;
    padding: 13px 8px 13px 9px;
    background-color: navy;
    border: 1px solid;
    
    
}

.navbar-list__item__social-media button>.fa{
    width: 20px;
    height: 14px;
    object-fit: contain;
    color: white;
}



.info-content{
    position: relative;
    top: 0px;
    margin: 0;  
}
.news-item-container{
    width: 100%;
    position: relative;
    top: 136px;
    z-index: 1;
    background-color:rgb(235, 203, 26);
    height: 51px;
}

.news-item-container .news-items{
    display: inline-block;
    margin:0;
    list-style: none;
    padding: 11px 160px 11px 284px;
    vertical-align: middle;
}

.news-item{
    display: inline-block;
    margin: 0 25px;
    color: white;
    height: 16px;
    vertical-align: middle;
}
.news-item p{
    margin: 0;
    font-family: Lato;
    font-size: 0.9rem;
}

.content-1-container .content-1-container__image{
    background-image: url("images/background.png");
    width: 100%;
    height: 785px;
    opacity: 70%;
    background-repeat: no-repeat;
    position: relative;
    top: 32px;
}
 
.content-1-container h1{
    
    position: absolute;
    display: block;
    margin: 0 auto;
    text-align: center;
    top: 7%;
    left: 90px;
    font-size: 3.5rem;
    font-family: Lato;
    width: 100%px;
    height: 116px;
    color:white;
}
.content-1-container .instant-estimate{
    background-color: rgb(211, 187, 49);
    display: inline-block;
    position: absolute;
    top: 400px;
    left: 25%;
    right: 25%;
    z-index: 0;
    margin: 15px auto;
    border: 1px solid gold;
    border-radius: 0.3rem;
    width: 243px;
    height: 57px;
    color: white;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

.option-cards{
    display: inline-block;
    position: absolute;
    top: 630px; 
    left: 20%;
    right: 20%;
    width: 1320px;
    margin: auto;
}
.option-cards .option-card{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    right: 20px;
    margin-right: 25px;
    width: 150px;
    height: 150px;
    justify-content: center; 
    background-color: navy;
    padding: 50px;
    border-radius: 3px;
}

.option-card img{
    width: 116px;
    height: 88px;
    margin: 0  18px;
    justify-content: baseline;
    vertical-align: middle;
}
.option-card p{
    
    width:116px ;
    height: 53px;
    margin: 5px 0 0 12px;
    color: white;
    font-size: 17px;
    font-family: Lato;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

.selected-card{
    background-color: #4e5481 !important;
}


.estimation-details{
    
    background-color: #495481;
    margin: 100px 0 32px;
    padding: 61px 140px 141px 120px;
    position: relative;
    width: 100%;
    height: 1300px;
    vertical-align: top;
    box-sizing: border-box;
    
}

.estimation-details .estimation-title{
    color: white;
    font-family: Lato;
    font-size: 2.8rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    margin: 0 214px 40px 0px;
    width: 500px;
    height: 27px;
}

.form-elements{
    display: flex;
}
.estimation-form div .container-1-label{
    display: flex;
    color: #fffefe;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 500;
    /* width: 42px;
    height: 14px; */
    margin: 42px 9px 13px 3px;
}
/* .area-selector label{
    display: flex;
} */
.area-selector select{
    width: 350px;
    height: 54px;
    margin-right: 36px;
    border: 1px solid steelblue;
    border-radius: 4px;
    background-color: #f7f7f7;
}
/* .land-area label{
    display: flex;
} */
.land-area input{
    width: 350px;
    height:50px;
    margin-right: 36px;
    border: 1px solid steelblue;
    border-radius: 4px;
    background-color: #f7f7f7;
}
/* .street-selector label{
    display: flex;
} */
.street-selector select{
    width: 350px;
    height: 54px;
    margin-right: 36px;
    border: 1px solid steelblue;
    border-radius: 4px;
    background-color: #f7f7f7;
}
/* .location-selector label{
    display: flex;
} */
.location-selector select{
    width: 350px;
    height: 54px;
    border: 1px solid steelblue;
    border-radius: 4px;
    background-color: #f7f7f7;
}

.back-front-length .length-label{
    display: flex;
    color: #fffefe;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 500;
    /* width: 42px;
    height: 14px; */
    margin: 42px 9px 13px 3px;
}
.back-front-length .length-input{
    width: 350px;
    height: 50px;
    margin: 10px 10px 38px 0px;
    border: 1px solid steelblue;
    border-radius: 4px;
    background-color: #f7f7f7;
}

.property-type-selector{
    display: flex;
    align-items: center;
}
.property-type-selector input{
    margin-top: 46px;
    width: 23px;
    height: 23px;
    border: 1px solid white;
    margin: 39px 14px 34px 33px;
}
.property-type-selector .type-label{
    margin: 32px 33px 36px 4px;
    font-family: Roboto;
    font-size: 24px;
    width: 163px;
    height: 22px;
    font-weight: 500;
    color: #fffefe;
}
.property-type-selector .radio-label-1{
    width: 38px;
    height: 15px;
    margin: 40px 32px 39px 14px;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 500;
    color: #fffefe;
}
.property-type-selector .radio-label-2{
    width: 51px;
    height: 14px;
    margin: 40px 215px 39px 10px;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 500;
    color: #fffefe;
}
.property-information{
    display: flex;
}
.property-information div>label{
    display: flex;
    color: #fffefe;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    /* width: 42px;
    height: 14px; */
    margin: 42px 9px 13px 3px;
}

.property-information div select{
    width: 350px;
    height: 54px;
    margin-right: 36px;
    border: 1px solid steelblue;
    border-radius: 4px;
    background-color: #f7f7f7;
}
.property-specifications{
    display: flex;
}
.property-specifications div>label{
    display: flex;
    color: #fffefe;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    /* width: 42px;
    height: 14px; */
    margin: 82px 9px 13px 3px;
}

.property-specifications div select{
    width: 350px;
    height: 54px;
    margin-right: 36px;
    border: 1px solid steelblue;
    border-radius: 4px;
    background-color: #f7f7f7;
}
.advance-search{
    margin-top: 0;
}
.advance-search .fa-plus-circle{
    font-size: 30px;
    width: 30px;
    height: 30px;
    margin: 10px 15px 26px 4px;
    color: white;
}

.advance-search .advance-search-label{
    width: 192px;
    height: 16px;
    margin: 30px 46px 32px 9px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.calculate{
    display: flex;
    float: right;
    margin: 26px 90px 2px 20px;
    padding: 19px 47px 18px 48px;
    background-color: navy;
    border: 1px solid navy;
    border-radius: 3px;
    color: white;
    font-size: 1rem;
    font-family: Open Sans;
    font-weight: bold;
}

.output-title{
    margin: 50px 58px 16px 5px;
    font-family: Lato;
    font-size: 2.3rem;
    font-weight: bold;
    color: white;
}
.output-table, .social-media-icons{
    display: flex;
    
}
.output-table,th,td{
    
    width: 723px;
    height: 54px;
    border:1px solid navy;
    border-collapse: collapse;
    text-align: center;
}
.output-table-row .output-heading{
    background-color: navy;
    color: white;
    font-family: Lato;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.output-table-row .output-heading-highlighted{
    
    background-color: rgb(230, 200, 33);
    color: white;
    font-family: Lato;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    text-align: center;
}

.output-table-row .output-data{
    background-color: white;
    width: 95px;
    font-family: Lato;
    font-size: 1.2rem;
    font-weight: bold;
}

.social-media-icons{
    margin: 0 0 0;
    display: flex;
    float: left;
    position: relative;
    right: 0;
    top: 0;
    left: 520px;
    right: 170px;
    bottom: 160px;
    align-items: flex-end ;
    
}
.social-media-share{
    margin: 0 300px 0px 0;
    display: flex;
    position: relative;
    bottom: 70px;
    left: 950px;
    float: left;
    /* margin: 0 0  0 950px; */
    font-family: Lato;
    font-size: 24px;
    color: white;
    width: 120px;
}
.social-media-icons>button{
    
    height: 46px;
    width: 50px;
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 1rem;
}
.social-media-icons button>img{
    justify-content: center;
    width: 28px;
    height: 24px;
    border-radius: 3px;
}

.new-properties-container{
    display: inline-block; 
    width: 100%;
    height: 541px;
    margin: 130px 0 0;
    padding: 50px 0 0;
    background-color: #dedfe7;
}
.new-properties-container>h2{
    margin: 0;
    font-family: Lato;
    font-size: 40px;
    text-align: center;
}
.new-property-group{
    display: inline-block;
    position: relative;
    left: 10%;
    right: 10%;
    margin: auto;
    /* padding: 40px 45px 0; */
}
.new-properties-container .new-property{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    background-color:white;
    width: 310px;
    height: 370px;
    margin: 0 18.5px 0; 
}
.new-property img{
    display: inline-block;
    width: 310px;
    height: 208px;
}
.property-info{
    margin: 8px 10px 0 16px;
}
.property-info i{
    display: inline-block;
    color: #727272;
}
.property-info p{
    display: inline-block;
    margin: 0;
}
.property-info .location-name{
    margin-right: 100px;
    font-family: OpenSans;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    color: #727272;
}
.property-info .area{
    font-family: OpenSans;
    font-size: 13px;
    font-weight: 300;
    text-align: right;
    color: #727272;
}
.property-info h6
{
    margin: 0;
    display: inline-block;
    color: #727272;
    width: 7px;
    height: 9px;
    font-size: 15px;
    font-family: OpenSans;
    font-weight: normal;
}
.property-info h4{
    display: inline-block;
    margin: 0;
    font-size: 14px;
}
.property-info .room-numbers{
    margin-right: 170px;
}
.info-title{
    margin: 24px 15px 15px 16px;
}
.info-description{
    margin: 0 8px 13px 16px;
}
.property-estimation{
    height: 137px;
}
.estimation-question{
    margin: 56px 425px 56px 120px;
    display: inline-block;
    font-family: Lato;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: normal;
    text-align: left;
    color: #212121;
}
.appraisal-button{
    /* display: inline-block; */
    float: right;
    position: relative;
    top: 50px;
    right: 90px;
    height: 50px;
    border: 1px solid navy;
    background-color: navy;
    border-radius: 3px;
    font-size: 16px;
    color: white;
}
.before-footer{
    display: inline-block;
    width: 100%;
    height: 823px;
    /* background-color:grey; */
    background-color: #161616;
}
.asset-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    width: 155px;
    height: 100px;
}

.before-footer-container{
    display: inline-block;
    margin: 0 auto;
}
.container-contents{
    display: inline-block;
    margin: 67px 0 50px 90px;
    padding: 0 50px 0;
}
.container-content{
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 60px;
}

.content-title{
    display: inline-block;
    width: 250px;
    height: 17px;
    
    font-family: Lato;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4a525d;
}
.content1-paragraph{
    width: 188px;
    margin: 31px 0 0 0;
    font-family: OpenSans;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #9aa2aa;
}
.content2-paragraph{
    width: 139px;
    height: 39px;
    margin: 32px 0 0 0px;
    font-family: OpenSans;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #9aa2aa;
}
.content3-paragraph{
    width: 284px;
    height: 80px;
    margin: 32px 0 0 0px;
    font-family: OpenSans;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #9aa2aa;
}
.content4-paragraph{
    width: 268px;
    height: 34px;
    font-family: OpenSans;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #9aa2aa;
}

.letter-input{
    width: 202px;
    height: 32px;
    border: 1px solid #4a525d;
    border-radius: 3px;
    color: white;
    background-color: #161616;
}
.letter-submit{
    width: 68px;
    height: 38px;
    border: 1px solid #4a525d ;
    border-radius: 3px;
    color: white;
    background-color: #161616;
}
.connect-content
{
    margin-top: 42px;
}
.connect-icon{
    width: 31px;
    height: 23px;
    margin-top: 31px;
    margin-right: 22px;
    font-size: 30px;
    color: rgb(158, 154, 154) ;
    background-color: #161616;
}
.footer{
    display: inline-block;
    width: 100%;
    height: 120px;
    background-color: black;
}
.footer h2{
    /* margin: 0; */
    /* display: inline-block;
    position: relative;
    text-align: center;
    margin: 0 auto;
    
    margin: 20px 400px 20px 650px;
    top: 30px; 
    font-family: Lato;
    font-size: 14px;
    color: #777777; */
    display: inline-block;
    width: 100%;
    margin: 40px auto;
    position: relative;
    top: 0;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    /* padding: 5% 0 5%; */
    color: #777777;
}

/* Responsive Design css code */
.toggle-button-container{
    
    display: none;
    position: relative;
    left: 0;
    vertical-align: middle;
    
}
.toggle-button {
    
    width: 3rem;
    position: relative;
    left: 0;
    float: left;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}
.toggle-button:focus {
    outline: none;
}
.toggle-button__bar {
    position: relative;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
}


.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 50vw;
    height: 100%;
    
}

.mobile-nav-items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin:0 auto;
    padding: 0;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content:flex-start;  
}
.mobile-nav-item {
    margin: 1rem 0;
    width: 659px;
    height: 15px;
    /* margin: 36px 11px 40px 43px; */
    font-family: Lato;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.75;
    letter-spacing: 0.8px;
    text-align: left;
    color: #363a47;
}

.mobile-nav__items-container .mobile-nav-item{
    list-style: none;
}
.mobile-nav-login-register{
    list-style: none;
}
.mobile-nav-login-register button{
    background-color: white;
    border: 1px solid navy;
    margin-top: 25px;
    width: 150px;
    height: 40px;
}
.mobile-nav-login-register a{
    text-decoration: none;
    color: navy;
    font-family: Lato;
    font-size: 1rem;
    text-align: center;
}
.mobile-nav-news-letter{
    list-style: none;
    text-decoration: none;
    
}
.mobile-nav-news-letter button{
    margin-top: 25px;
    width: 166px;
    height: 40px;
    background-color: navy;
    border: 1px solid navy;
    border-radius: 2px;
}
.mobile-nav-news-letter button>a{
    text-decoration: none; 
    color: white;
    font-family: Lato;
    font-size: 13px;    
}
.connect-media-icons{
    margin: 22px 0 0 0;
    font-family: Lato;
    font-size: 1.4rem;
    color: navy;
}
.social-media-container{
    display: inline-block;
}
.mobile-nav-social-media{
    list-style: none;
    margin-top: 13px;
    display: inline-block;
}
.mobile-nav-social-media button{
    background-color: navy;
    border: 1px solid navy;
    width: 38px;
    height: 35px;
}
.mobile-nav-social-media .fa{
    color: white;
    font-size: 1rem;
}
.back-button{
    margin-top: 25px;
    width: 166px;
    height: 40px;
    background-color: navy;
    border: 1px solid navy;
    color: white;
    font-style: Lato;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
}
/* Media Queries For Mobile */

/* First BreakPoint */
@media(max-width : 1500px){
    .toggle-button-container{
        display: inline-block;
        position: relative;
        align-items: center;
        left: 10px;
        
    }

    .navbar-list__items{
        display: none;
    }
    .brand-container img{
        height: 6rem;
        width: 9.3rem;
        position: relative;
        bottom: 12px;
        
    }
    
}


@media(max-width : 1496px){
    .news-item-container{
        top: 136px;
        width: 100%;
    }
    .content-1-container__image{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .content-1-container h1{
        margin: 0;
        padding: 0;
        left: 0;
        display: block;
        margin: auto;
    }
    .content-1-container .instant-estimate{
        display: block;
        margin: 20px auto;
        left: 0;
        right: 0; 
    }
    
    
    .option-cards{
        box-sizing: border-box;
        
        position: relative;
        top: 60px;
        margin: auto;
        
    }
    .option-cards .option-card{
        display: inline-block;
        margin: 0;
    }
    .estimation-details{
        box-sizing: border-box;
        padding: 2%;
        height: 1600px;
    }
    .new-properties-container{
        height: 100%;
    }
    .form-elements{
        display: block;
    }
    .form-elements .area-selector,
    .form-elements .land-area,
    .form-elements .street-selector{
        display: inline-block;
    }
    .form-elements .location-selector{
        display: inline-block;
    }
    .form-elements .back-front-length{
        display: inline-block;
    }
    .property-information{
        display: block;
    }
    .property-information .property-status-selector,
    .property-information .house-years,
    .property-information .house-type-selector,
    .property-information .basement-selector{
        display: inline-block;
    }
    .advance-search{
        margin: 0;
    }
    .calculate{
        float: left;
        left: 0;
        margin: 0;
    }
    .output-title{
        margin-top: 90px;
    }
    .output-table{
        width: 670px;
    }
    .social-media-share{
        margin: 0;
        color: white;
        left: 700px;
        float: left;
    }
    .social-media-icons{
        display: flex;
        float: left;
        position: relative;
        top: 0px;
        left: 610px;
        margin: 0 ;
        align-items: flex-start;
    }
    .new-properties-container{
        display: inline-block;
        box-sizing: border-box;
        height: 100%;
        padding: 4%;
    }
    .new-properties-container h2{
        margin: 10px auto;
    }
    .new-property-group{
        display: flex;
        padding:0;
        left: 0;
        margin: 0 auto;
    }
    .new-property-group .new-property{
        
        margin-bottom: 10px;
    }
    .estimation-question{
        padding: 0;
        display: block;
        margin: 10px 0 10px;
        text-align: center;
    }
    .appraisal-button{
        display: block;
        margin: auto;
    }
    .footer h2{
        
        display: inline-block;
        width: 100%;
        margin: 0 auto 0;
        position: relative;
        top: 0;
        text-align: center;
        padding: 5% 0 5%;
    
    }

}

@media(max-width : 1350px){

    .news-item-container{
        top: 136px;
        width: 100%;
    }
    .content-1-container__image{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .content-1-container h1{
        margin: 0;
        padding: 0;
        left: 0;
        display: block;
        margin: auto;
    }
    .content-1-container .instant-estimate{
        display: block;
        margin: 20px auto;
        left: 0;
        right: 0; 
    }
    
    
    .option-cards{
        box-sizing: border-box;
        
        position: relative;
        top: 60px;
        left: 10%;
        right: 10%;
        margin: auto;
        
        
    }
    .option-cards .option-card{
        display: inline-block;
        margin: 0;
    }
    .estimation-details{
        box-sizing: border-box;
        padding: 2%;
        height: 1400px;
    }
    .new-properties-container{
        height: 100%;
    }
    .form-elements{
        display: block;
    }
    .form-elements .area-selector,
    .form-elements .land-area,
    .form-elements .street-selector{
        display: inline-block;
    }
    .form-elements .location-selector{
        display: inline-block;
    }
    .form-elements .back-front-length{
        display: inline-block;
    }
    .property-information{
        display: block;
    }
    .property-information .property-status-selector,
    .property-information .house-years,
    .property-information .house-type-selector{
        display: inline-block;
    }
    .advance-search{
        margin: 0;
    }
    .calculate{
        float: left;
        left: 0;
        margin: 0;
    }
    .output-title{
        margin-top: 90px;
    }
    .output-table{
        width: 670px;
    }
    .social-media-share{
        margin: 0;
        color: white;
        left: 700px;
        float: left;
    }
    .social-media-icons{
        display: flex;
        float: left;
        position: relative;
        top: 0px;
        left: 610px;
        margin: 0 ;
        align-items: flex-start;
    }
    .new-properties-container{
        display: inline-block;
        box-sizing: border-box;
        height: 100%;
        padding: 4%;
    }
    .new-properties-container h2{
        margin: 10px auto;
    }
    .new-property-group{
        display: inline-block;
        padding:0;
       left: 0;
        margin: 0 auto;
    }
    .new-property-group .new-property{
        
        margin-bottom: 10px;
    }
    .estimation-question{
        padding: 0;
        display: block;
        margin: 10px 0 10px;
        text-align: center;
    }
    .appraisal-button{
        display: block;
        margin: auto;
    }
    .footer h2{
        
        display: inline-block;
        width: 100%;
        margin: 0 auto 0;
        position: relative;
        top: 0;
        text-align: center;
        padding: 5% 0 5%;
    
    }

}
@media(max-width : 1132px){

    .news-item-container{
        top: 136px;
        width: 100%;
    }
    .content-1-container__image{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .content-1-container h1{
        margin: 0;
        padding: 0;
        left: 0;
        display: block;
        margin: auto;
    }
    .content-1-container .instant-estimate{
        display: block;
        margin: 20px auto;
        left: 0;
        right: 0; 
    }
    
    
    .option-cards{
        box-sizing: border-box;
        
        position: relative;
        top: 60px;
        left: 10%;
        right: 10%;
        margin: auto;
       
        
    }
    .option-cards .option-card{
        display: inline-block;
        margin: 0;
    }
    .estimation-details{
        box-sizing: border-box;
        padding: 2%;
        height: 1400px;
    }
    .new-properties-container{
        height: 100%;
    }
    .form-elements{
        display: block;
    }
    .form-elements .area-selector,
    .form-elements .land-area,
    .form-elements .street-selector{
        display: inline-block;
    }
    .form-elements .location-selector{
        display: inline-block;
    }
    .form-elements .back-front-length{
        display: inline-block;
    }
    .property-information{
        display: block;
    }
    .property-information .property-status-selector,
    .property-information .house-years,
    .property-information .house-type-selector{
        display: inline-block;
    }
    .advance-search{
        margin: 0;
    }
    .calculate{
        float: left;
        left: 0;
        margin: 0;
    }
    .output-title{
        margin-top: 90px;
    }
    .output-table{
        width: 670px;
    }
    .social-media-share{
        margin: 0;
        color: white;
        left: 700px;
        float: left;
    }
    .social-media-icons{
        display: flex;
        float: left;
        position: relative;
        top: 0px;
        left: 610px;
        margin: 0 ;
        align-items: flex-start;
    }
    .new-properties-container{
        display: inline-block;
        box-sizing: border-box;
        height: 100%;
        padding: 4%;
    }
    .new-properties-container h2{
        margin: 10px auto;
    }
    .new-property-group{
        display: inline-block;
        padding:0;
        left: 16%;
        margin: 0 auto;
    }
    .new-property-group .new-property{
        
        margin-bottom: 10px;
    }
    .estimation-question{
        padding: 0;
        display: block;
        margin: 10px 0 10px;
        text-align: center;
    }
    .appraisal-button{
        display: block;
        margin: auto;
    }
    .footer h2{
        
        display: inline-block;
        width: 100%;
        margin: 0 auto 0;
        position: relative;
        top: 0;
        text-align: center;
        padding: 5% 0 5%;
    
    }

}
/* Third BreakPoint */
@media(max-width : 1024px)
{
    .main-header{
       
        position: fixed;
        padding: 0;
        box-sizing: border-box;
        /* padding: 0;
        margin: 0;
        width: 100%; */
    }
    .brand-container {
        display: block;
        text-align: center;
        position: relative; 
        left: 40%;
        right: 50%; 
    }
    
    .info-content .news-item-container{
        top: 116px;
        width: 100%;
    }
    .content-1-container{
        width: 100%;
    }
    .content-1-container h1{
        left: 0;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .content-1-container .content-1-container__image{
        background-size: cover;
        background-position: center center;
    }
    .content-1-container .instant-estimate{
        top: 500px;
        display: block;
        margin: 0;
        padding: 0;
        left: 40%;
        right: 40%;
    }

    .option-cards{
        display: flex;
        /* left: 22%;
        right: 22%; */
        left: 1%;
        top: 50px;
        margin: 10px auto;
        padding: 0;
    }
    .option-cards .option-card{
        
        margin: 8px 5px 8px;
    }
    .estimation-details{
        margin-top: 80px;
        width: 100%;
        height: 100%;
        padding: 8% 8% 8%;
        height: 1900px;
    }
    .estimation-form{
        box-sizing: border-box;
    }
    .form-elements{
        display: inline-block;
    }
    .form-elements .area-selector,
    .form-elements .land-area,
    .form-elements .street-selector,
    .form-elements .location-selector{
        display: inline-block;
        
    }

    .area-selector select,
    .land-area input,
    .street-selector select,
    .location-selector select{
        width: 360px;
    }
    .back-front-length .length-input{
        width: 360px;
    }
    .property-information{
        display: inline-block;
    }
    .property-information .property-status-selector,
    .property-information .house-years,
    .property-information .house-type-selector,
    .property-information .basement-selector{
        display: inline-block;
    }
    .property-information .property-status-selector select,
    .property-information .house-years select,
    .property-information .house-type-selector select,
    .property-information .basement-selector select{
        width: 360px;
    }
    .property-status-selector .property-status-label{
        margin-top:30px ;
    }
    .house-years .house-age-label{
        margin-top: 30px;
    }
    .property-specifications .floors-info select,
    .property-specifications .detail-specification select{
        width: 360px;
    }
    .property-specifications{
        margin-top: 0;
    }
    .property-specifications .floor-info-label,
    .property-specifications .specification-label{
        margin-top: 30px;
    }
    .advance-search{
        margin: 0;
    }
    .calculate{
        float: left;
        margin: 0;
        
    }
    .output-title{
        margin-top: 70px;
        margin-bottom: 20px;
        margin-right: 0;
        width: 140px;
    }
    .social-media-share{
        float: left;
        position: relative;
        left: 0px;
        bottom: 0px;
        top: 100px;
        font-family: Lato;
        font-size: 18px;
        color: black;
        margin: 0;
    }
    .social-media-icons{
        display: flex;
        float: left;
        left: 0;
        position: relative;
        top: 90px;
        margin: 0 ;
        align-items: flex-start;
    }
    .new-properties-container{
        box-sizing: border-box;
        height: 100%;
        padding: 4%;
    }
    .new-properties-container h2{
        margin: 10px auto;
    }
    .new-property-group{
        
        padding:0;
        left: 13%;
        right: 13%;
        margin: 0 auto;
    }
    .new-property-group .new-property{
        margin-bottom: 10px;
    }
    .estimation-question{
        padding: 0;
        display: block;
        margin: 10px 0 10px;
        text-align: center;
    }
    .appraisal-button{
        display: block;
        margin: auto;
    }
    .before-footer{
        width: 100%;
    }
    .footer h2{
        
        display: inline-block;
        width: 100%;
        margin: 0 auto 0;
        position: relative;
        top: 0;
        text-align: center;
        padding: 5% 0 5%;
        
    }
    
} 

@media(max-width : 984px){
    .main-header{
       
        position: fixed;
        padding: 0;
        box-sizing: border-box;
        
    }
    .brand-container {
        display: block;
        text-align: center;
        position: relative; 
        left: 40%;
        right: 50%; 
    }
    
    .info-content .news-item-container{
        top: 116px;
        width: 100%;
    }
    .content-1-container{
        width: 100%;
    }
    .content-1-container h1{
        left: 0;
        margin: 0;
        padding: 0;
        font-size: 2rem;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .content-1-container .content-1-container__image{
        background-size: cover;
        background-position: center center;
    }
    .content-1-container .instant-estimate{
        top: 500px;
        display: block;
        margin: 0;
        padding: 0;
        left: 40%;
        right: 40%;
    }

    .option-cards{
        width: 100%;
        display: block;
        left: 0;
        right: 0;        
        top: 60px;
        margin: auto;
        z-index: 0;    
    }
    .option-cards .option-card{
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 260px;
        margin-bottom: 10px;
    }
    .option-cards .option-card img{
        display: block;
        margin: 0 auto;
    }
    .option-cards .option-card p{
        display: block;
        margin: 10px auto;
    }
    .estimation-details{
        margin-top: 80px;
        width: 100%;
        /* height: 100%; */
        padding: 8% 8% 8%;
        height: 2200px;
    }
    .estimation-form{
        box-sizing: border-box;
    }
    .form-elements{
        display: inline-block;
    }
    .form-elements .area-selector,
    .form-elements .land-area,
    .form-elements .street-selector,
    .form-elements .location-selector{
        display: inline-block;
        
    }

    .area-selector select,
    .land-area input,
    .street-selector select,
    .location-selector select{
        width: 360px;
    }
    .back-front-length .length-input{
        width: 360px;
    }
    .property-information{
        display: inline-block;
    }
    .property-information .property-status-selector,
    .property-information .house-years,
    .property-information .house-type-selector,
    .property-information .basement-selector{
        display: inline-block;
    }
    .property-information .property-status-selector select,
    .property-information .house-years select,
    .property-information .house-type-selector select,
    .property-information .basement-selector select{
        width: 360px;
    }
    .property-status-selector .property-status-label{
        margin-top:30px ;
    }
    .house-years .house-age-label{
        margin-top: 30px;
    }
    .property-specifications .floors-info select,
    .property-specifications .detail-specification select{
        width: 360px;
    }
    .property-specifications{
        margin-top: 0;
    }
    .property-specifications .floor-info-label,
    .property-specifications .specification-label{
        margin-top: 30px;
    }
    .advance-search{
        margin: 0;
    }
    .calculate{
        float: left;
        margin: 0;
        
    }
    .output-title{
        margin-top: 70px;
        margin-bottom: 20px;
        margin-right: 0;
        width: 140px;
    }
    .social-media-share{
        float: left;
        position: relative;
        left: 0px;
        bottom: 0px;
        top: 100px;
        font-family: Lato;
        font-size: 18px;
        color: black;
        margin: 0;
    }
    .social-media-icons{
        display: flex;
        float: left;
        left: 0;
        position: relative;
        top: 90px;
        margin: 0 ;
        align-items: flex-start;
    }
    .new-properties-container{
        box-sizing: border-box;
        height: 100%;
        padding: 4%;
    }
    .new-properties-container h2{
        margin: 10px auto;
    }
    .new-property-group{
        
        padding:0;
        left: 13%;
        right: 13%;
        margin: 0 auto;
    }
    .new-property-group .new-property{
        margin-bottom: 10px;
    }
    .estimation-question{
        padding: 0;
        display: block;
        margin: 10px 0 10px;
        text-align: center;
    }
    .appraisal-button{
        display: block;
        margin: auto;
    }
    .before-footer{
        width: 100%;
    }
    .footer h2{
        
        display: inline-block;
        width: 100%;
        margin: 0 auto 0;
        position: relative;
        top: 0;
        text-align: center;
        padding: 5% 0 5%;
        
    }
}
/* Fourth BreakPoint */
@media(max-width:921px) 
{
    .main-header{
        position: fixed;
        padding: 0;
        box-sizing: border-box;
        background-color: white;
    }
    .brand-container {
        display: block;
        text-align: center;
        position: relative; 
        left: 40%;
        right: 50%; 
    }
    
    .news-item-container{
        top: 116px;
        width: 100%;
    }
    .content-1-container h1{
        display: block;
        margin: auto;
        left: 20%;
        right: 20%;
        width: 500px;
        top: 5%;
        text-align: center;
    }
    .content-1-container .instant-estimate{
        display: block;
        margin: auto;
        left: 20%;
        right: 20%;
        top: 480px;
    }
    .option-cards{
        width: 100%;
        display: block;
        left: 0;
        right: 0;        
        top: 60px;
        margin: auto;
        z-index: 0;    
    }
    .option-cards .option-card{
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 260px;
        margin-bottom: 10px;
    }
    .option-cards .row-two{
        display: block;
    }
    .option-cards .option-card img{
        display: block;
        margin: 0 auto;
    }
    .option-cards .option-card p{
        display: block;
        margin: 10px auto;
    }
    .estimation-details{
        margin-top: 80px;
        width: 100%;
        height: 100%;
        padding: 14% 8% 14%;
        height: 2100px;
    }
    .form-elements{
        display: inline-block;
    }
    .form-elements .area-selector,
    .form-elements .land-area,
    .form-elements .street-selector,
    .form-elements .location-selector{
        display: inline-block;
    }
    
    .property-information{
        display: inline-block;
    }
    .property-information .property-status-selector,
    .property-information .house-years,
    .property-information .house-type-selector,
    .property-information .basement-selector{
        display: inline-block;
    }
    .property-specifications{
        display: inline-block;
    }
    .calculate{
        
        float: left;
        display: flex;
        padding: 19px 47px 18px 48px;
        margin-top: 0;
        background-color: navy;
        border: 1px solid navy;
        border-radius: 3px;
        color: white;
        font-size: 1rem;
        font-family: Open Sans;
        font-weight: bold;
    }
    .advance-search{
        margin-top: 10px;
    }
    
    .output-table{
        width: 560px;
    }
    .social-media-share{
        float: left;
        position: relative;
        left: 0;
        bottom: 0;
        top:85px;
        font-family: Lato;
        font-size: 18px;
        color: white;
        margin: 0;
    }
    .social-media-icons{
        display: flex;
        float: left;
        left: 10px;
        margin: 0;
        position: relative;
        top: 70px;
    }
    .new-properties-container{
        box-sizing: border-box;
        display: block;
        margin:  0 auto;
        height: 100%;
        padding: 6%;
    }
    
    .new-properties-container h2{
        text-align: center;
    }
    .new-properties-container .new-property-group{
        display: block;
        margin: 0 auto;
        left: 0;
    }
    .new-properties-container .new-property{
        margin-bottom: 8px;
    }
    .estimation-question{
        padding: 0;
        display: block;
        margin: 10px 0 10px;
        text-align: center;
    }
    .appraisal-button{
        display: block;
        margin: auto;
    }
    .before-footer{
        height: 100%;
    }
    .footer{
        height: 100%;
    }
    .footer h2{
        display: inline-block;
        width: 100%;
        margin: 0 auto 0;
        position: relative;
        top: 0;
        text-align: center;
        padding: 5% 0 5%;
    }
}
@media(max-width : 786px){
    .new-properties-container{
        display: inline-block;
    }
    .new-properties-container .new-property-group{
        display: block;
        margin: auto;
        left: 20%;
        right: 20%;
    }
}
/* Fifth Breakpoint */
@media(max-width : 720px){
    .new-properties-container{
        width: 100%;
        height: 100%;
        padding-bottom: 30px;
    }
    .before-footer{
        height: 100%;
    }
}

/* sixth Breakpoint */
@media (max-width : 720px){
    body{
        box-sizing: border-box;
    }
    .content-1-container{
        box-sizing: border-box;
    }
    .content-1-container__image{
        background-size: cover;
        background-position: center center;
    }
    .content-1-container h1{
        left: 10%;
        right: 10%;
        padding: 0;
        display: block;
        margin: 0 auto 0;
        text-align: center;
        font-size: 2rem;
        width: 580px;
        height: 10px;
    }
    .content-1-container .instant-estimate{
        margin: 0 auto 0;
        left:50%;
        top: 580px;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        
    }
    .option-cards{
        box-sizing: border-box;
        top: 50px;
        z-index: 0;
        width: 100%;
        margin: 10px auto;
        
    }
    .option-card{
        box-sizing: border-box;
        margin: 0 0 10px 0;
    }
    .estimation-details{
        margin-top: 100px;
        height: 100%;
        /* padding-left: 10px;
        padding-right: 10px; */
        padding: 3%;
        height: 2100px;
    }
    .form-elements{
        display: block;
    }
    .form-elements .area-selector{
        display: block;
    }
    .form-elements .area-selector select{
        width: 100%;
    }
    .form-elements .street-selector{
        display: block;
    }
    .form-elements .street-selector select{
        width: 100%;
    }
    .form-elements .location-selector{
        display: block;
    }
    .form-elements .location-selector select{
        width: 100%;
    }
    .form-elements .land-area{
        width: 100%;
    }
    .form-elements .land-area input{
        width: 100%;
    }
    .back-front-length .length-input{
        width: 100%;
    }
    .property-information{
        display: block;
    }
    .property-information .property-status-selector{
        display: block;
    }
    .property-information .property-status-selector select{
        width: 100%;
    }
    .property-information .house-years{
        display: block;
    }
    .property-information .house-years select{
        width: 100%;
    }
    .property-information .house-type-selector{
        display: block;
    }
    .property-information .house-type-selector select{
        width: 100%;
    }
    .property-information .basement-selector{
        display: block;
    }
    .property-information .basement-selector select{
        width: 100%;
    }
    .property-specifications{
        display: block;
    }
    .property-specifications .floors-info select{
        display: block;
        width: 100%;
    }
    .property-specifications .detail-specification select{
        width: 100%;
    }
    .output-title{
        width: 130px;
        margin: 8px 0;
    }
    .social-media-share{
        display: block;
        position: relative;
        bottom:0;
        top: 110px;
        left: 0;
        float: left;
        margin: 0;
        color: white;
        font-family: Lato;
        font-size: 18px;
    }
    .social-media-icons{
        display: flex;
        float: left;
        left: 0;
        margin: 0;
        position: relative;
        top: 100px;
    }
    .output-table{
        position: relative;
        left: 0;
        width: 600px;
        margin-bottom: 10px;
    }
    .new-property h2{
        text-align: center;
    }
    .new-properties-container{
        padding: 5% 12% 5%;
        box-sizing: border-box;
    }
    .new-properties-container>h2{
        display: block;
        margin: 0 auto 0;
    }
    
    .new-property-group{
        margin: 0 auto 0;
        padding: 0 30px 0;
    }
    .new-properties-container .new-property{
        margin: 10px 18.5px 10px;
    }
    .property-estimation .estimation-question{
        display: block;
        margin: 20px 0 20px;
        text-align: center;
    }
    .property-estimation .appraisal-button{
        display: block;
        margin: 0 auto 0;
    }
    .footer{
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
    .footer h2{
        width: 400px;
        display: block;
        margin: 0 auto 0;
        position: relative;
        top: 0;
    }
}

/* seventh breakpoint */
@media (max-width : 720px){
    .toggle-button-container{
        display: inline-block;
    }

    .navbar-list__items{
        display: none;
    }
    
    .new-properties-container{
        display: block;
    }
    .new-property-group{
        display: block;
    }
    .new-property{
        display: block;
    }
}

/* Eight Breakpoint */
@media(max-width : 720px){
    .new-properties-container{
        width: 100%;
        height: 100%;
        padding-bottom: 30px;
    }
    .before-footer{
        height: 100%;
    }
}


@media(max-width : 720px){
    .toggle-button-container{
        display: inline-block;
    }

    .navbar-list__items{
        display: none;
    }
    
    .new-properties-container{
        display: block;
    }
    .new-property-group{
        display: block;
    }
    .new-property{
        display: block;
    }
}



@media(max-width: 634px){
    body{
        box-sizing: border-box;
    }
    .content-1-container{
        box-sizing: border-box;
    }
    .content-1-container__image{
        background-size: cover;
        background-position: center center;
    }
    .content-1-container h1{
        
        left: 0;
        padding: 0;
        display: block;
        margin: 0 auto 0;
        text-align: center;
        font-size: 1.6rem;
        width: 580px;
        height: 10px;
    }
    .content-1-container .instant-estimate{
        margin: 0 auto 0;
        left:50%;
        top: 580px;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        
    }
    .option-cards{
        top: 50px;
        z-index: 0;
        left: 0;
        right: 0;
        display: block;
        margin:0 auto; 
        
        
    }
    .option-card{
        
        margin: 0 0 10px 0;
        
    }
    .estimation-details{
        margin-top: 80px;
        height: 1900px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .form-elements{
        display: block;
    }
    .form-elements select{
        display: block;
        width: 100%;
    }
    .form-elements input{
        width: 100%;
    }
    .back-front-length .length-input{
        width: 100%;
    }
    .property-information{
        display: block;
    }
    .property-information div select{
        width: 100%;
    }
    .property-specifications{
        display: block;
    }
    .property-specifications div select{
        display: block;
        width: 100%;
    }
    .output-title{
        margin-bottom: 23px;
    }
    .social-media-share{
        display: block;
        position: relative;
        bottom:0;
        top: 80px;
        left: 0;
        float: left;
        margin: 0;
        color: white;
        font-family: Lato;
        font-size: 18px;
    }
    .social-media-icons{
        display: flex;
        float: left;
        margin: 0;
        position: relative;
        top: 70px;
    }
    .output-table{
        position: relative;
        left: 0;
        width: 600px;
        margin-bottom: 10px;
    }
    .new-property h2{
        text-align: center;
    }
    .new-properties-container{
        padding: 5% 12% 5%;
        box-sizing: border-box;
    }
    .new-properties-container>h2{
        display: block;
        margin: 0 auto 0;
        
    }
    
    .new-property-group{
        margin: 0 auto 0;
        padding: 0 30px 0;
    }
    .new-properties-container .new-property{
        margin: 10px 18.5px 10px;
    }
    .property-estimation .estimation-question{
        display: block;
        margin: 20px 0 20px;
        text-align: center;
    }
    .property-estimation .appraisal-button{
        display: block;
        margin: 0 auto 0;
    }
    .footer{
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
    .footer h2{
        width: 400px;
        display: block;
        margin: 0 auto 0;
        position: relative;
        top: 0;
    }
}

@media(max-width : 634px){
    .content-1-container{
        box-sizing: border-box;
    }
    .content-1-container__image{
        background-size: cover;
        background-position: center center;
    }
    .content-1-container h1{
        
        left: 0;
        padding: 0;
        display: block;
        margin: 0 auto 0;
        text-align: center;
        font-size: 1.3rem;
        width: 300px;
        height: 10px;
    }
    .content-1-container .instant-estimate{
        margin: 0 auto 0;
        left:50%;
        top: 580px;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        
    }
    .option-cards{
        top: 50px;
        z-index: 0;
        left: 0;
        right: 0;
        display: block;
        margin:0 auto; 
        
        
    }
    .option-card{
        
        margin: 0 0 10px 0;
        
    }
    .estimation-details{
        margin-top: 80px;
        height: 2200px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .form-elements{
        display: block;
    }
    .form-elements select{
        display: block;
        width: 100%;
    }
    .form-elements input{
        width: 100%;
    }
    .back-front-length .length-input{
        width: 100%;
    }
    .property-information{
        display: block;
    }
    .property-information div select{
        width: 100%;
    }
    .property-specifications{
        display: block;
    }
    .property-specifications div select{
        display: block;
        width: 100%;
    }
    .output-title{
        margin-bottom: 23px;
    }
    .social-media-share{
        display: block;
        position: relative;
        bottom:0;
        top: 80px;
        left: 0;
        float: left;
        margin: 0 0 12px;
        color: white;
        font-family: Lato;
        font-size: 18px;
    }
    .social-media-icons{
        display: flex;
        float: left;
        margin: 0;
        position: relative;
        top: 70px;
    }
    .output-table{
        position: relative;
        left: 0;
        width: 350px;
        margin-bottom: 10px;
    }
    .new-property h2{
        text-align: center;
        left: 0;
        width: 100%;
    }
    .new-properties-container{
        padding: 5%;
        box-sizing: border-box;
    }
    .new-properties-container>h2{
        display: block;
        margin: 0 auto 0;
        
    }
    
    .new-property-group{
        margin: 0 auto 0;
        padding: 1%;
        left: 0;
    }
    .new-properties-container .new-property{
        margin: 10px 18.5px 10px;
    }
    .property-estimation .estimation-question{
        display: block;
        margin: 20px 0 20px;
        text-align: center;
    }
    .property-estimation .appraisal-button{
        display: block;
        margin: 0 auto 0;
    }
    .before-footer-container .container-contents{
        margin: 0;
        padding: 1%;
    }
    .footer{
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
    .footer h2{
        width: 400px;
        display: block;
        margin: 0 auto 0;
        position: relative;
        top: 0;
    }
}






     






